<div class="container-fluid pl-0 pr-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top fixed-top">
    <a class="navbar-brand" routerLink="">~ ioanpart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-link dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="first-yr" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Μαθήματα
          </a>
          <div class="dropdown-menu" aria-labelledby="first-yr">
            <a *ngFor="let sem of (semesters | async)" class="dropdown-item" routerLinkActive="active" routerLink="/semester/{{sem.id}}">{{sem.name}} Εξάμηνο
              <span class="badge badge-info">{{sem.courses}}</span>
            </a>
          </div>
        </li>
        <li class="nav-link">
          <a routerLinkActive="active" class="nav-link" routerLink="/admin">Admin</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron m-0 p-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2 d-flex align-items-center">
          <!-- <img class="img-fluid" src="assets/auth_logo.png"> -->
        </div>
        <div class="col d-flex flex-column align-items-center justify-content-center">
          <h1 class="lead">Τμήμα Φαρμακευτικής</h1>
          <p>~ioanpart</p>
        </div>
        <div class="col-2 d-flex align-items-center">
          <img class="img-fluid" src="assets/ioanpart_logo.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>